p{display:block; color: brown;font-size: 10px; }
span{display: block; position: relative; color: aqua; font-size: 11px;}
.branch-mac-work-2{position: relative;}
.branch-win-work{display: block;}

.mac-5{color: red;}
.win-5{color: green;}

.mac-6{color: blue;}

.mac-7{color: darkgoldenrod;}